[user]
	name = Kenneth Lyons
	email = ixjlyons@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[url "git@github.com:"]
    insteadOf = "gh:"
[url "https://aur.archlinux.org/"]
    insteadOf = "aur:"
