! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! urxvt ----------------------------------------------------------------------
URxvt*transparent: true
URxvt*shading: 15
URxvt*scrollBar: false
URxvt.font: xft:DejaVuSansMono:pixelsize=11
URxvt.boldFont: xft:DejaVuSansMono:pixelsize=11:Bold
URxvt.letterSpace: -1
URxvt.iso14755: false
URxvt.intensityStyles: false

#define black      #282828
#define darkgrey   #323232

#define red        #8e514b
#define altred     #ad6962

#define green      #356a52
#define altgreen   #418365

#define yellow     #8b7053
#define altyellow  #9e805e

#define blue       #445e7b
#define altblue    #587a9f

#define magenta    #5b4665
#define altmagenta #745a81

#define cyan       #355e61
#define altcyan    #417377

#define lightgrey  #afafaf
#define white      #d5d5d5

*.foreground:   white
*.background:   black
*.cursorColor:  lightgrey

*.color0:       black
*.color8:       darkgrey
*.color1:       red
*.color9:       altred
*.color2:       green
*.color10:      altgreen
*.color3:       yellow
*.color11:      altyellow
*.color4:       blue
*.color12:      altblue
*.color5:       magenta
*.color13:      altmagenta
*.color6:       cyan
*.color14:      altcyan
*.color7:       lightgrey
*.color15:      white
