! font settings
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintmedium
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! urxvt
URxvt*transparent: true
URxvt*shading: 20
URxvt*scrollBar: false
URxvt.font: xft:DejaVuSansMono:pixelsize=11
URxvt.boldFont: xft:DejaVuSansMono:pixelsize=11:Bold
URxvt.letterSpace: -1
URxvt.iso14755: false
URxvt.intensityStyles: false

! color definitions
#define black      #282828
#define darkgrey   #323232
#define red        #813722
#define altred     #ab482d
#define green      #535935
#define altgreen   #6a7243
#define yellow     #9e6c4b
#define altyellow  #b57c56
#define blue       #3a4966
#define altblue    #4c6086
#define magenta    #896299
#define altmagenta #9665a0
#define cyan       #336381
#define altcyan    #386d8d
#define lightgrey  #999999
#define white      #d5d5d5
*.foreground:   white
*.cursorColor:  blue
*.color0:       black
*.color8:       darkgrey
*.color1:       red
*.color9:       altred
*.color2:       green
*.color10:      altgreen
*.color3:       yellow
*.color11:      altyellow
*.color4:       blue
*.color12:      altblue
*.color5:       magenta
*.color13:      altmagenta
*.color6:       cyan
*.color14:      altcyan
*.color7:       lightgrey
*.color15:      white
